{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <h4>Забыли пароль?</h4>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="card w-75">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% if form.errors %}<div class="alert alert-danger">{{ form.errors }}</div>{% endif %}
          {% bootstrap_form form show_label=False wrapper_class="mb-0" %}
          <small class="form-text text-muted">Заполните форму, и мы вышлем вам инструкцию, как установить новый пароль.</small>
          <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Сбросить пароль</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
