{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card w-75">
            <div class="card-header">Регистрация</div>
            <div class="card-body">
                <form action="{% url 'registration' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form show_label=False show_help=False %}
                    <div class="d-flex justify-content-between align-items-center">
                        {% bootstrap_button button_type="submit" content="Зарегистрироваться" button_class="btn-success" %}
                        <div>
                            <span>Уже зарегистрированы?</span>
                            <a href="{% url 'login' %}" class="ms-1">Войдите</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
