{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card w-75 {% if "/delete/" in request.path %}w-auto{% endif %}">
            <div class="card-header">
                {% if '/update-chapter/' in request.path %}
                    Глава {{ chapter.title }} книги
                    <a href="{% url 'book_detail' chapter.book.id %}">{{ chapter.book }}</a>
                {% elif "/delete/" in request.path %}
                    Подтвердите удаление книги {{ book.title }}, отменить это действие не получится.
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% if not '/delete/' in request.path %}
                        {% bootstrap_form form show_label=False wrapper_class="form-group mb-3" %}
                    {% endif %}
                    {% bootstrap_button button_type="submit" content=button_content button_class="btn-success" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
